body,
html {
    background: url(./images/kurt-cotoaga-cqbLg3lZEpk-unsplash.jpg);
    background-size: cover;
    margin-bottom: 20px;

}

h1 {
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans';
}

.desain {
    background-color: whitesmoke;
    color: black;
    font-family: verdana;
}

.mantul {
    background-color: darkslategrey;
    color: white;
    font-family: monospace;
}

.desain1 {
    background-color: rgb(89, 91, 94);
}

.navigasi {
    background-color: rgba(44, 44, 44, 0.13);
    padding: 10px;
    margin-bottom: 20px;
}